/* !                 COMMON                    */

/**                  Gallary                   */

:root {
  --gap: 24px;
  --carts: 4;
  --gap-info: 4px;
}

/**                   Reset                    */

p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

/**                   Bases                    */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 12px;
}

/**                Components                  */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* !                 HEADER                    */

.container-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.form-design {
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #0514a2;
}

.search-form {
  display: flex;
  align-items: center;
  margin: auto;
  width: 500px;
  background: white;
  border-radius: 3px;
}

form.search-form input[type='text'] {
  padding: 10px;
  width: calc(100% - 40px);
  font-size: 17px;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

form.search-form button {
  margin-left: auto;
  padding: 10px;
  width: 40px;
  background: #babfc4;
  color: #000;
  font-size: 17px;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

form.search-form button:hover {
  background: #828588;
}

/* !                  MAIN                     */

.gallery {
  padding: 74px 15px 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.photo-card {
  flex-basis: calc((100% - ((var(--carts)) - 1) * var(--gap)) / var(--carts));
  max-height: 231px;
}

.photo {
  height: 79%;
}

.info {
  width: 100%;
  display: flex;
  padding: 8px 0;
  gap: var(--gap-info);
}

.info-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
