/* !                 COMMON                    */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**                   Reset                    */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**                   Bases                    */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

/**                Components                  */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/**                  Gallary                   */
/* 
:root {
  --gap: 24px;
  --carts: 4;
} */
/* 
.grid-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
} */

/* .grid-item {
  flex-basis: calc((100% - (var(--carts) - 1) * var(--gap)) / var(--carts));
} */

/* !                 HEADER                    */

.container-header {
  /* position: fixed;
  top: 0;
  left: 0;
    z-index: 1; */
}

.form-design {
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #0514a2;
}

.search-form {
  display: flex;
  align-items: center;
  margin: auto;
  width: 500px;
  background: white;
  border-radius: 3px;
}

form.search-form input[type='text'] {
  padding: 10px;
  width: calc(100% - 40px);
  font-size: 17px;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

form.search-form button {
  margin-left: auto;
  padding: 10px;
  width: 40px;
  background: #babfc4;
  color: #000;
  font-size: 17px;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

form.search-form button:hover {
  background: #828588;
}

/* !                  MAIN                     */
